<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('../layouts/head') %>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
     <div class="sidebar">
          <div class="logo">
               <i class="fa fab fa-accusoft"></i> <span>ClonTeams</span>
          </div>
          <ul class="menu">
               <li>
                    <a href="/panel">
                         <i class="fas fa-home"></i>
                         <span>Inicio</span>
                    </a>
               </li>
               <li>
                    <a href="/categorias">
                         <i class="fas fab fa-buffer"></i>
                         <span>Categorias</span>
                    </a>
               </li>
               <li>
                    <a href="/usuarios">
                         <i class="fas fas fa-user-alt"></i>
                         <span>Usuarios</span>
                    </a>
               </li>
               <li class="active">
                    <a href="/estadisticas">
                         <i class="fas fas fa-chart-bar"></i>
                         <span>Estadísticas</span>
                    </a>
               </li>
               <li>
                    <a href="/registros_bot">
                         <i class="fas fa-robot"></i>
                         <span>Registro Bot</span>
                    </a>
               </li>
               <li class="logout">
                    <a href="/logout">
                         <i class="fas fas fa-sign-out-alt"></i>
                         <span>Cerrar Sesion</span>
                    </a>
               </li>
          </ul>
     </div>
     <main class="main--content">
          <div class="header--wrapper">
               <div class="header--title">
                    <span>Estadisticas</span>
                    <h2>Bienvenido</h2>
               </div>
               <div class="user--info">
                    <i class="fa far fa-user-circle"></i>
               </div>
          </div>
          <hr>
          <h2 class="titulo-seccion">Estadísticas</h2>
          <div class="graficos">
               <div class="grafico-container">
                    <h3 class="grafico-titulo">Cantidad de Usuarios Registrados</h3>
                    <p class="grafico-descripcion">Descripción del gráfico de usuarios.</p>
                    <p>Total: <%= cantidadUsuarios %>
                    </p>
                    <canvas id="usuarios-chart"></canvas>
               </div>
               <div class="grafico-container">
                    <h3 class="grafico-titulo">Cantidad de Proyectos Subidos</h3>
                    <p class="grafico-descripcion">Descripción del gráfico de proyectos.</p>
                    <p>Total: <%= cantidadProyectos %>
                    </p>
                    <canvas id="proyectos-chart"></canvas>
               </div>
               <div class="grafico-container">
                    <h3 class="grafico-titulo">Categoría con Más Proyectos</h3>
                    <p class="grafico-descripcion">Categoría que tiene más proyectos registrados.</p>

                    <canvas id="categoria-proyectos-chart"></canvas>
               </div>


          </div>

     </main>
     <script>
          const cantidadUsuarios = <%= cantidadUsuarios %>;
          const cantidadProyectos = <%= cantidadProyectos %>;
          const categoriasConCantidadProyectos = JSON.parse('<%- categoriasConCantidadProyectos %>');

          const usuariosChart = new Chart(document.getElementById('usuarios-chart'), {
               type: 'bar',
               data: {
                    labels: ['Usuarios'],
                    datasets: [{
                         label: 'Cantidad de Usuarios',
                         data: [cantidadUsuarios],
                         backgroundColor: 'rgba(54, 162, 235, 0.6)'
                    }]
               },
               options: {
                    scales: {
                         y: {
                              beginAtZero: true,
                              precision: 0
                         }
                    }
               }
          });

          const proyectosChart = new Chart(document.getElementById('proyectos-chart'), {
               type: 'bar',
               data: {
                    labels: ['Proyectos'],
                    datasets: [{
                         label: 'Cantidad de Proyectos',
                         data: [cantidadProyectos],
                         backgroundColor: 'rgba(255, 99, 132, 0.6)'
                    }]
               },
               options: {
                    scales: {
                         y: {
                              beginAtZero: true,
                              precision: 0
                         }
                    }
               }
          });

          const categoriaProyectosChart = new Chart(document.getElementById('categoria-proyectos-chart'), {
               type: 'pie',
               data: {
                    labels: categoriasConCantidadProyectos.map(categoria => categoria.nombre_categoria),
                    datasets: [{
                         label: 'Cantidad de Proyectos por Categoría',
                         data: categoriasConCantidadProyectos.map(categoria => categoria.cantidad_proyectos),
                         backgroundColor: [
                              'rgba(255, 159, 64, 0.6)',
                              'rgba(75, 192, 192, 0.6)',
                              'rgba(255, 205, 86, 0.6)',
                              'rgba(153, 102, 255, 0.6)',
                              'rgba(64, 255, 159, 0.6)',
                              'rgba(201, 203, 207, 0.6)',
                              'rgba(54, 162, 235, 0.6)',
                              'rgba(255, 99, 132, 0.6)',
                              'rgba(255, 64, 159, 0.6)',
                              'rgba(159, 64, 255, 0.6)',
                              'rgba(64, 159, 255, 0.6)'
                         ]

                    }]
               },
               options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                         legend: {
                              display: false
                         }
                    },
                    scales: {
                         y: {
                              beginAtZero: true,
                              precision: 0
                         }
                    },
                    plugins: {
                         tooltip: {
                              callbacks: {
                                   label: function (context) {
                                        var label = context.dataset.label || '';

                                        if (label) {
                                             label += ': ';
                                        }
                                        label += context.parsed.y;

                                        return label;
                                   }
                              }
                         }
                    }
               }
          });
     </script>
</body>

</html>