<!DOCTYPE html>
<html lang="en">

<head>

     <%- include('../layouts/head') %>

</head>

<body>
     <div class="sidebar">
          <div class="logo">
               <i class="fa fab fa-accusoft"></i> <span>ClonTeams</span>
          </div>
          <ul class="menu">
               <li>
                    <a href="/panel">
                         <i class="fas fa-home"></i>
                         <span>Inicio</span>
                    </a>
               </li>
               <li>
                    <a href="/categorias">
                         <i class="fas fab fa-buffer"></i>
                         <span>Categorias</span>
                    </a>
               </li>
               <li class="active">
                    <a href="/usuarios">
                         <i class="fas fas fa-user-alt"></i>
                         <span>Usuarios</span>
                    </a>
               </li>
               <li>
                    <a href="/estadisticas">
                         <i class="fas fas fa-chart-bar"></i>
                         <span>Estadísticas</span>
                    </a>
               </li>
               <li>
                    <a href="/registros_bot">
                         <i class="fas fa-robot"></i>
                         <span>Registro Bot</span>
                    </a>
               </li>
               <li class="logout">
                    <a href="/logoutAdmin">
                         <i class="fas fas fa-sign-out-alt"></i>
                         <span>Cerrar Sesion</span>
                    </a>
               </li>

          </ul>
     </div>
     <main class="main--content">
          <div class="header--wrapper">
               <div class="header--title">
                    <span>Usuarios</span>
                    <h2>Bienvenido</h2>
               </div>
               <div class="user--info">
                    <i class="fa far fa-user-circle"></i>
               </div>
          </div>
          <hr>
          <h2 class="titulo-seccion">Usuarios Registrados</h2>
          <div class="container-usuarios">
               <table class="tabla-usuarios">
                    <thead>
                         <tr>
                              <th>Nombre</th>
                              <th>Apellido</th>
                              <th>Email</th>
                              <th>Fecha de Registro</th>
                              <th>Perfil Github</th>
                              <th>Cantidad de Proyectos</th>
                              <th>Acciones</th>
                         </tr>
                    </thead>
                    <tbody>
                         <% usuarios.forEach(function(usuario) { %>
                              <tr class="usuario">
                                   <td>
                                        <%= usuario.nombre %>
                                   </td>
                                   <td>
                                        <%= usuario.apellido %>
                                   </td>
                                   <td>
                                        <%= usuario.email %>
                                   </td>
                                   <td>
                                        <% const fecha=new Date(usuario.fecha_registro); const
                                             dia=fecha.getDate().toString().padStart(2, '0' ); const
                                             mes=(fecha.getMonth() + 1).toString().padStart(2, '0' ); const
                                             anio=fecha.getFullYear(); const fechaFormateada=`${dia}/${mes}/${anio}`; %>
                                             <%= fechaFormateada %>
                                   </td>
                                   <td>
                                        <%= usuario.perfil_Github %>
                                   </td>
                                   <td>
                                        <%= usuario.cantidad_proyectos %>
                                   </td>
                                   <td>
                                        <a href="/eliminar-usuario/<%= usuario.id_usuario %>"
                                             class="eliminar-btn">Eliminar</a>
                                   </td>
                              </tr>
                              <% }); %>
                    </tbody>
               </table>
          </div>
     </main>
</body>

</html>