<!DOCTYPE html>
<html lang="en">

<head>

     <%- include('../layouts/head') %>

</head>

<body>
     <div class="sidebar">
          <div class="logo">
               <i class="fa fab fa-accusoft"></i> <span>ClonTeams</span>
          </div>
          <ul class="menu">
               <li>
                    <a href="/panel">
                         <i class="fas fa-home"></i>
                         <span>Inicio</span>
                    </a>
               </li>
               <li class="active">
                    <a href="/categorias">
                         <i class="fas fab fa-buffer"></i>
                         <span>Categorias</span>
                    </a>
               </li>
               <li>
                    <a href="/usuarios">
                         <i class="fas fas fa-user-alt"></i>
                         <span>Usuarios</span>
                    </a>
               </li>
               <li>
                    <a href="/estadisticas">
                         <i class="fas fas fa-chart-bar"></i>
                         <span>Estadísticas</span>
                    </a>
               </li>
               <li>
                    <a href="/registros_bot">
                         <i class="fas fa-robot"></i>
                         <span>Registro Bot</span>
                    </a>
               </li>
               <li class="logout">
                    <a href="/logout">
                         <i class="fas fas fa-sign-out-alt"></i>
                         <span>Cerrar Sesion</span>
                    </a>
               </li>
          </ul>
     </div>
     <main class="main--content">
          <div class="header--wrapper">
               <div class="header--title">
                    <span>Categorías</span>
                    <h2>Bienvenido</h2>
               </div>
               <div class="user--info">
                    <i class="fa far fa-user-circle"></i>
               </div>
          </div>
          <hr>
          <div class="categoria--title">
               <h2>
                    <%= categoria.nombre_categoria %>
               </h2>
          </div>

          <div class="container--proyectos">
               <% if (proyectos.length===0) { %>
                    <div class="datos">
                         <i class="fa-regular fa-face-frown carita"></i>
                         <p>Sin datos disponibles para la tabla.</p>
                    </div>
                    <% } else { %>
                         <table class="tabla-proyectos">
                              <thead>
                                   <tr>
                                        <th>Nombre del Proyecto</th>
                                        <th>Descripción</th>
                                        <th>Fecha de Subida</th>
                                        <th>Autor</th>
                                        <th>Enlace</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   <% proyectos.forEach(function(proyecto) { %>
                                        <tr>
                                             <td>
                                                  <%= proyecto.nombre_proyecto %>
                                             </td>
                                             <td>
                                                  <%= proyecto.descripcion %>
                                             </td>
                                             <td>
                                                  <% const fecha=new Date(proyecto.fecha_inicio); const
                                                       dia=fecha.getDate().toString().padStart(2, '0' ); const
                                                       mes=(fecha.getMonth() + 1).toString().padStart(2, '0' ); const
                                                       anio=fecha.getFullYear(); const
                                                       fechaFormateada=`${dia}/${mes}/${anio}`; %>
                                                       <%= fechaFormateada %>
                                             </td>
                                             <td>
                                                  <%= proyecto.nombre_usuario %>
                                             </td>
                                             <td>
                                                  <a href="<%= proyecto.enlaces %>" target="_blank">Ver Proyecto</a>
                                             </td>

                                        </tr>
                                        <% }); %>
                              </tbody>
                         </table>
                         <% } %>
                              <a href="/categorias" class="volver-btn">
                                   <i class="fas fa-arrow-left"></i> Volver
                              </a>

          </div>
     </main>
</body>

</html>