<!DOCTYPE html>
<html lang="en">

<head>

     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
     <title>
          <%= title %>
     </title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
     <link rel="shortcut icon" href="/img/Icono.png" type="image/x-icon">
         <!-- Google Fonts Link For Icons -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
     <link rel="stylesheet" href="/css/bot.css">
</head>
<style>
     
     form {
          margin-bottom: 20px;
        }
    
        .prompt-box {
          display: flex;
          align-items: center;
        }
    
        label {
          margin-right: 10px;
        }
    
        input[type="text"] {
          padding: 5px;
          width: 100%;
        }
    
        button {
          padding: 5px 10px;
          background-color: #007bff;
          color: #fff;
          border: none;
          cursor: pointer;
          border-radius: 15px;
        }
    
        button:hover {
          background-color: #0056b3;
        }
    
        .output {
          background-color: #f4f4f4;
          padding: 20px;
        }
    
        code {
          background-color: #f8f8f8;
          padding: 5px;
          display: block;
          margin-bottom: 10px;
        }
    
        pre {
          white-space: pre-wrap;
          word-wrap: break-word;
        }
</style>
<body>
     <button class="chatbot-toggler">
          <span class="material-symbols-rounded">mode_comment</span>
          <span class="material-symbols-outlined">close</span>
        </button>
        <form id="queryForm">
            
        <div class="chatbot">
          <header>
            <h2>Chatbot Valle Grande</h2>
            <span class="close-btn material-symbols-outlined">close</span>
          </header>
          <ul class="chatbox">
            <li class="chat incoming">
              <span class="material-symbols-outlined">smart_toy</span>
              <div id="output" class="output"></div>
       
    
            </li>
          </ul>
         
          <div class="chat-input">
            <div class="prompt-box">
                <input id="queryInput" name="query" placeholder="Ingresa tu consulta aquí" type="text">
                <select style="width: 50%;" name="proyectoSeleccionado">
                    <% proyectos.forEach(function(proyecto) { %>
                        <option value="<%= proyecto.id_proyecto + ',' + proyecto.nombre_proyecto + ',' + proyecto.descripcion + ',' + proyecto.fecha_inicio + ',' + proyecto.nombre_usuario + ',' + proyecto.enlaces %>">
                            <%= proyecto.nombre_proyecto %>
                        </option>
                    <% }); %>
                </select>
                <button type="submit">Consultar</button>
                
                
                <span id="send-btn" class="material-symbols-rounded"></span>
              </div>
          </div>
          
        </div>
    </form>
    
     <div class="sidebar">
          <div class="logo">
               <i class="fa fab fa-accusoft"></i> <span>ClonTeams</span>
          </div>
          <ul class="menu">
               <li>
                    <a href="/panel">
                         <i class="fas fa-home"></i>
                         <span>Inicio</span>
                    </a>
               </li>
               <li class="active">
                    <a href="/categorias">
                         <i class="fas fab fa-buffer"></i>
                         <span>Categorias</span>
                    </a>
               </li>
               <li>
                    <a href="/usuarios">
                         <i class="fas fas fa-user-alt"></i>
                         <span>Usuarios</span>
                    </a>
               </li>
               <li>
                    <a href="/estadisticas">
                         <i class="fas fas fa-chart-bar"></i>
                         <span>Estadísticas</span>
                    </a>
               </li>
               <li>
                    <a href="/registros_bot">
                         <i class="fas fa-robot"></i>
                         <span>Registro Bot</span>
                    </a>
               </li>
               <li class="logout">
                    <a href="/logout">
                         <i class="fas fas fa-sign-out-alt"></i>
                         <span>Cerrar Sesion</span>
                    </a>
               </li>
          </ul>
     </div>
     <main class="main--content">
          <div class="header--wrapper">
               <div class="header--title">
                    <span>Categorías</span>
                    <h2>Bienvenido</h2>
               </div>
               <div class="user--info">
                    <i class="fa far fa-user-circle"></i>
               </div>
          </div>
          <hr>
          <div class="categoria--title">
               <h2>
                    <%= categoria.nombre_categoria %>
               </h2>
          </div>

          <div class="container--proyectos">
               <% if (proyectos.length===0) { %>
                    <div class="datos">
                         <i class="fa-regular fa-face-frown carita"></i>
                         <p>Sin datos disponibles para la tabla.</p>
                    </div>
                    <% } else { %>
                         <table class="tabla-proyectos">
                              <thead>
                                   <tr>
                                        <th>Nombre del Proyecto</th>
                                        <th>Descripción</th>
                                        <th>Fecha de Subida</th>
                                        <th>Autor</th>
                                        <th>Enlace</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   <% proyectos.forEach(function(proyecto) { %>
                                        <tr>
                                             <td>
                                                  <%= proyecto.nombre_proyecto %>
                                             </td>
                                             <td>
                                                  <%= proyecto.descripcion %>
                                             </td>
                                             <td>
                                                  <% const fecha=new Date(proyecto.fecha_inicio); const
                                                       dia=fecha.getDate().toString().padStart(2, '0' ); const
                                                       mes=(fecha.getMonth() + 1).toString().padStart(2, '0' ); const
                                                       anio=fecha.getFullYear(); const
                                                       fechaFormateada=`${dia}/${mes}/${anio}`; %>
                                                       <%= fechaFormateada %>
                                             </td>
                                             <td>
                                                  <%= proyecto.nombre_usuario %>
                                             </td>
                                             <td>
                                                  <a href="<%= proyecto.enlaces %>" target="_blank">Ver Proyecto</a>
                                             </td>

                                        </tr>
                                        <% }); %>
                              </tbody>
                         </table>
                         <% } %>
                              <a href="/categorias" class="volver-btn">
                                   <i class="fas fa-arrow-left"></i> Volver
                              </a>

          </div>
     </main>
     <script src="https://unpkg.com/luxon@3.3.0/build/global/luxon.min.js"></script>
<script>
    document.getElementById('queryForm').addEventListener('submit', async (event) => {
        event.preventDefault(); // Evitar que el formulario se envíe de forma predeterminada

        const query = document.getElementById('queryInput').value; // Obtener la consulta del input
        const proyectoSeleccionado = document.querySelector('[name="proyectoSeleccionado"]').value; // Obtener el valor seleccionado del menú desplegable
        
        // Obtener la hora exacta de Perú
        const horaPeru = luxon.DateTime.now().setZone('America/Lima').toLocaleString(luxon.DateTime.DATETIME_FULL);

        try {
            // Realizar una solicitud POST al servidor Node.js
            const response = await fetch('/query', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                    message: query, 
                    proyectoSeleccionado: proyectoSeleccionado, 
                    horaPeru: horaPeru, 
                    categoria: '<%= categoria.nombre_categoria %>' // Agregar el parámetro categoria
                }) // Enviar la consulta, el proyecto seleccionado, la hora de Perú y la categoría como un objeto JSON
            });

            const data = await response.json(); // Convertir la respuesta a JSON

            // Mostrar la respuesta en el elemento de salida
            const outputElement = document.getElementById('output');
            outputElement.innerHTML = ''; // Limpiar contenido previo
            const preElement = document.createElement('pre');
            const codeElement = document.createElement('code');
            codeElement.textContent = data.response;
            preElement.appendChild(codeElement);
            outputElement.appendChild(preElement);
        } catch (error) {
            console.error('Error:', error);
        }
    });
</script>

      
     <script src="/js/clients.js"></script>
</body>

</html>