<!-- proyectoDetalles.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Detalles del Proyecto</title>
     <!-- Agrega tus estilos CSS si es necesario -->
</head>

<body>
     <h1>Detalles del Proyecto</h1>
     <div>
          <h2>Nombre del Proyecto: <%= proyecto.nombre_proyecto %>
          </h2>
          <p>Descripción: <%= proyecto.descripcion %>
          </p>
          <p>Fecha de Subida: <% const fecha=new Date(proyecto.fecha_inicio); const
                    dia=fecha.getDate().toString().padStart(2, '0' ); const mes=(fecha.getMonth() +
                    1).toString().padStart(2, '0' ); const anio=fecha.getFullYear(); const
                    fechaFormateada=`${dia}/${mes}/${anio}`; %>
                    <%= fechaFormateada %>
          </p>
          <p>Autor: <%= proyecto.nombre_usuario %>
          </p>
          <p>Enlace: <a href="<%= proyecto.enlaces %>" target="_blank">Ver Proyecto</a></p>

     </div>
     <a href="/proyectos/categoria/enviar-correo?id=<%= proyecto.id_proyecto %>" class="enviar-correo-btn">Enviar
          Correo</a>


     <a href="/proyectos">Volver</a>
</body>

</html>